
RewriteEngine on
RewriteBase /citest01


RewriteCond %{REQUESS_FILENAME} !-f
RewriteCond %{REQUESS_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|css|js|images|fonts|plugins|upload)
RewriteRule ^(.*)$ /citest01/index.php?/$1 [L] 
