/*product-index*/
.productMargin {
	margin-bottom: 4rem;
}

.card.shadow:hover {
	border: 3px solid rgba(74, 178, 165)!important;
    /*border-color:  rgba(74, 178, 165)!important;*/
    box-shadow: 0 .5rem 1rem rgba(74, 178, 165,.15)!important;
}

.btn-squre {
	border-radius: 5px;
}

.dropdownMyWide {
	width: 158px;
}

.dropdown-item {
	cursor: pointer;
}

.productMenuHover:hover {
	cursor: pointer;
	color: white;
	background-color: var(--color-green);
}

.productMenuHover > label, input[type="checkbox" i], input[type="checkbox" i] {
	cursor: pointer!important;
}

/*product->seekbar*/
	.rzslider .rz-pointer {
	 	background: #21af9a;

	}
	.rzslider .rz-pointer.rz-active:after{
	 	background-color: blue;
	}
	.rzslider .rz-selection {
	 	background: #21af9a;
	}
/*--------------------------*/

/*@media only screen and (max-width: 768px) {

	.menu {
		
	}
}*/