
.lookup-head-img > img{
	max-width: 640px;
}



/* view:product/shop_lookup ________________________________________________________*/

	/*select num Product Buy*/
		.page-item.disabled > .page-link{ 
			background-color: #79b5ae;
		}

		.page-item.disabled {
			cursor: not-allowed;
		}

		.page-link {
		    color: var(--color-gray1);
		    background-color: none;

		}

		.page-link:hover {
			color: var(--color-gray1);
		    background-color: var(--color-green);
		}
	/*______________________*/
	





	/*@media view:product/shop_lookup*/
		@media only screen and (min-width: 0px) and (max-width: 970px){
			
		}
	/*______________________*/

/* END view:product/shop_lookup _____________________________________________________