/*color 
#21af9a, rgb(33, 175, 154)

.btn {
  margin-left: 10px;
  margin-right: 10px;
}
/* Boostrap Buttons Styling */


/* _________________on navbar________________________*/
.dropdown-menu {
    /*background-color: rgb(248, 249, 250, 0.95);*/
}


.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--color-green);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: var(--color-green);
}


/*______________________________________________________*/

.input-primary {
  border-color: var(--color-green);
  border-radius: 1.5rem;
}

/*____modal______________________________________________*/
.close  {
    color: red;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: red;
    text-decoration: none;
    opacity: .75;
}

/*_______________________________________________________*/

.btn-default {
  font-family: Raleway-SemiBold;
  /*font-size: 13px;*/
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
  min-width: 125px;
  /*font-family: Raleway-SemiBold;*/
  /*font-size: 20px;*/
  color: rgb(33, 175, 154);
  /*letter-spacing: 1px;*/
  /*letter-spacing: 3px;*/
  /*line-height: 15px;*/
  line-height: 20px;
  border: 2px solid rgb(33, 175, 154);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgb(33, 175, 154);
  border: 2px solid rgb(33, 175, 154);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--color-green);
    border-color: var(--color-green);
    box-shadow:unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: unset; 
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none; 
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none; 
}

.btn-success {
  font-family: Raleway-SemiBold;
  /*font-size: 13px;*/
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info {
  font-family: Raleway-SemiBold;
  /*font-size: 13px;*/
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
  font-family: Raleway-SemiBold;
  /*font-size: 13px;*/
  color: rgba(240, 173, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: #FFF;
  background: rgb(240, 173, 78, 0.75);
  border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
  /*font-family: Raleway-SemiBold;*/
  /*font-size: 13px;*/
  color: red;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid red;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #FFF;
  background: red;
  border: 2px solid red;
}